{
	"trailingComma": "none",
	"singleQuote": true,
	"tabWidth": 2,
	"printWidth": 180,
	"useTabs": true,
	"bracketSpacing": true,
	"apexInsertFinalNewline": false,
	"bracketSameLine": true,
	"singleAttributePerLine": false,
	"overrides": [
		{
			"files": "**/lwc/**/*.html",
			"options": { "parser": "lwc" }
		},
		{
			"files": "*.{cmp,page,component}",
			"options": { "parser": "html", "tabWidth": 2 }
		},
		{
			"files": "**/*.{cls,trigger,apex}",
			"options": { "parser": "apex", "tabWidth": 2 }
		},
		{
			"files": "*.json",
			"options": { "useTabs": true, "tabWidth": 2 }
		},
		{
			"files": ["docs/*.html", "doc-assets/*.html"],
			"options": { "parser": "html", "useTabs": false, "tabWidth": 2 }
		},
		{
			"files": "scripts/apex/*.apex",
			"options": { "parser": "apex-anonymous" }
		},
		{
			"files": ".prettierrc",
			"options": { "parser": "json" }
		},
		{
			"files": "*.xml",
			"options": { "parser": "xml", "xmlWhitespaceSensitivity": "ignore", "tabWidth": 2, "xmlSelfClosingSpace": true }
		}
	]
}
